@import 'reset';
@import 'variables';
@import 'aside-navbar';
@import 'main-homepage';
@import 'footer';
@import 'main-album';
@import 'main-artist';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

a,
.track-management .profile i {
  color: $primary-color;
}

.squared-icon {
  width: $icon-size;
  height: $icon-size;
  border-radius: $border-radius;
}
